{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
      <title>HT: Welcome</title>
  </head>
  <style>
    * {
      margin: auto;
      text-align: center;
    }
    input {
      margin-top: 1%
    }
    form {
      padding-bottom: 5%;
    }
    button {
      margin-top: 3%;
      font-size: 110%;
    }
    .error-message-container {
      margin-top: 10%
    }

  </style>
  <body>
    
    <div class="error-message-container">
      {% if form.errors %}
        <p>Account not found.</p>
      {% endif %}
    </div>
    
    <div id="form-container">
      <form method='POST'>
          <!-- csrf for security -->
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Log In</button>
      </form>
    </div>
    <a href="/">Go Back</a>

  </body>
</html>
