{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
        <title>Register</title>
    </head>
    <style>
        form {
            width: 75%;
            margin-left: 15%;
            padding-top: 10%;
            padding-bottom: 5%;
        }
        label {
            text-align: left;
        }
    </style>
    <body>
        {% include 'includes/messages.html' %}

        <div id="regigster-form-container" style="text-align:left">
            <form action='/welcome/register/' method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register Now</button>
            </form>
        </div>
        <a href="/">Back</a>
    </body>
</html>