{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
        <title>Welcome</title>
    </head>
    <style>
        h1 {
            padding-top:10%;
            padding-bottom:5%;
            color: #4F4846;
        }
        a {
            margin: 3%;
            font-size: 120%;
        }
    </style>

    <body>
        <h1>What makes you happy? :)</h1>
        <a href='welcome/login'>Log In</a>
        <a href='welcome/register'>Register</a>
        <a href="welcome/explore">Explore site as a guest</a>
    </body>
</html>