{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
        <title>Home</title>
    </head>
    <style>
        .dataframe {
            border-collapse: collapse; 
            border: solid 3px #420000;
        }
        th, td {
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 8px;
            padding-right: 8px;
            background-color: #FFFFF0;
        }
        button {
            font-size: 100%;
            padding-top: 2%;
        }
        table {
            border-collapse: collapse; 
            border: solid 3px #420000 ;
        }

    </style>

    <body>

        {% include 'includes/header.html' %}

        <div class="homepage-container">
            <h1 style="color:#420000; font-size:180%">Happy Data</h1>
            <div class="data-container">
                {% if data is None %}
                    <p style="padding: 2%;">Click Add Day to start tracking your happiness :)</p>
                {% else %}
                    {{ data|safe }}
                {% endif %}
            </div>
            {% if data is not None %}
                <button type="button" onclick="delete_data()" style="font-weight:bold;">Click to delete some or all data
                <br>
                <p>Note that deleting data cannot be undone.</p></button>
                <div id="delete-days-container" style="display: none; margin: 2%;">
                    <a href="delete_data/">Delete all data.</a>
                    <table>

                        {% for day in days %}
                        <tr>
                            <td style="font-weight: bold;">{{ day }}</td>
                            <td>
                            <form action="delete_data/" method="POST">

                                {% csrf_token %}

                                <button type="submit" name="day" value="{{day}}" style="background-color: #FFFFF0;">Delete</button>
                            </form>
                            </td>
                        </tr>
                        {% endfor %}

                    </table>

                </div>
            {% endif %}
            <div id="data_analysis_container">
                <a href="analyze/">Analyze data</a>
            </div>
        </div>

    </body>

    <script>
        function delete_data() {
            var show_me = document.getElementById("delete-days-container");
            if (show_me.style.display=="none") {
                show_me.style.display = "block";
            } else {
                show_me.style.display = "none";
            }
        }
    </script>
</html>