<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport">
    <style></style>
    </head>
    <body>

        <h1>Settings</h1>
        <lu>
            <li><button onclick="show_div('edit-profile-container')">Edit profile</button></li>
            <div id="edit-profile-container" style="display:none">
                <form action="edit_profile/" method="POST">
                    {% csrf_token %}
                    <label for="dob">Date of birth:</label>
                    <input type="date" name="new_dob" id="dob">
                    <label for="gender">Gender:</label>
                    <select id="gender" name="new_gender">
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                        <option value="Non binary">Non binary</option>
                        <option value="Other">Other</option>
                    </select>
                    <button type="submit">Submit</button>
                </form>
            </div>
            <br>
            <li><button onclick="show_div('change_username_container')">change username</button></li>
            <div id="change_username_container" style="display:none">
                <form action="change_username/" method="POST">
                    {% csrf_token %}
                    <p>
                        <label for="new_username">New username:</label>
                        <input type="text" name="new_username" maxlength="254" autofocus="" required="" id="new_username">  

                        <span class="helptext">Enter your new username here</span>
                        <br><br>
                        <button type="submit">Submit</button>
                    </p>            
                </form>
            </div>
            <br>
            <li><button onclick="show_div('change_email_container')">Change Email</button></li>
            <div id="change_email_container" style="display:none">
                <form action="change_email/" method="POST">
                    {% csrf_token %}
                    <p>
                        <label for="new_email">New email:</label>
                        <input type="email" name="new_email" maxlength="254" autofocus="" required="" id="new_email">  

                        <span class="helptext">Enter your new email here</span>
                        <br><br>
                        <button type="submit">Submit</button>
                    </p>            
                </form>
            </div>
            <br>
            <li><a href="/homepage/password_change">change password</button></li>
            <br>
            <li><a href="/homepage/password_reset">forgot password</a></li>
            <br>
            <li><button onclick="show_div('delete_account_container')">delete account</button></li>
            <div id="delete_account_container" style="display:none;">
                <p>are you sure you want to delete your account?</p>
                <a href="delete_account/">Yes, delete my account</a>
                <button onclick="delete_account()">No, I want to know what makes me happy</button>
            </div>
        </lu>

        <br> 
        <a href="/homepage">back to homepage</a>

        <script>
            function show_div(div) {
                var x = document.getElementById(div);
                if (x.style.display=="none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        </script>
    </body>
</html>